body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFD400;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.container {
    background-color: #0f0f5a;
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.block {
    background-color: #0071AD;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.titulo {
    font-size: 150%;
    margin-bottom: 10%;
    text-align: center;
}

.dado {
    text-align: left;
    width: 80%;
}

input[type=text] {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #9a96966c;
    -moz-box-shadow: 1px 1px 2px #9a96966c;
    -webkit-box-shadow: 1px 1px 2px #9a96966c;
    background: #eae8e8;
    border: 1px solid #ffffff;
    width: 100%;
    height: 20px;
    margin-top: 2%;
}

input[type=text]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid #FFD400;
}

.opcoes {
    background: #F0F0F0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}